body {
  font-family: Arial, sans-serif;
  background-color: cornflowerblue;
  padding: 20px;
  font-size: 25px;
}

h1 {
  text-align: center;
}

.card {
  background: black;
  color: white;
  padding: 15px;
  margin: 15px auto;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 4px;
  font-weight: 600;
}

input,
select {
  width: 30%;
  padding: 8px;
  margin-bottom: 10px;
}

#expenseAmount {
  width: 10%;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 4px 0;
}

.member-checkbox {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

.member-checkbox input {
  width: auto;
  margin-right: 8px;
}



.balanceNegative {
  color: #f87171;
}
